@import url('https://fonts.googleapis.com/css?family=Karla|Staatliches')

font-family: 'Karla', sans-serif;
font-family: 'Staatliches', cursive;

body{
  background-image: url(https://beckysx.github.io/test/bg1.png);

}
